<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">
         
         <!--视图解析器-->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property value="/" name="prefix" />

		<property value=".jsp" name="suffix" />
	</bean>
	
	<!-- 拦截器 -->
	<mvc:interceptors>       
  		<mvc:interceptor>  
       		<mvc:mapping path="/personage/*"/>  
       		<mvc:mapping path="/mainList/*"/>  
     <!-- 定义在mvc:interceptor下面的表示是对特定的请求才进行拦截的 -->  
       		<bean class="com.shopfront.util.loginfilter"/> 
   		</mvc:interceptor>  
	</mvc:interceptors>
	
	<!-- 图片上传 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
   		 <property name="maxUploadSize" value="5000000"/>
   		 <property name="defaultEncoding" value="UTF-8"/>
</bean>
	
  <!--映射文件地址-->
	 <mvc:resources location="/css/" mapping="/css/**"></mvc:resources>
       <mvc:resources location="/js/" mapping="/js/**"></mvc:resources>
         <mvc:resources location="/images/" mapping="/images/**"></mvc:resources>
         <mvc:resources location="/statics/" mapping="/statics/**"></mvc:resources>
         <mvc:resources location="/article/" mapping="/article/**"></mvc:resources>
         <!--加载驱动-->
        <mvc:annotation-driven/>
	
 <!--扫描-->
	<context:component-scan base-package="com.shopfront" />

	<mvc:annotation-driven />

</beans>